[virtwho]
;;trigger_type should be one of them(trigger-rhel,trigger-satellite,trigger-rhev,trigger-multiarch)
;;rhel_compose should be such as RHEL-8.0.0-20190228.1
trigger_type=[TRIGGER_TYPE]
rhel_compose=[RHEL_COMPOSE_ID]
host_ip=[VIRTWHO_HOST_IP]
host_user=[VIRTWHO_HOST_SSH_USER]
host_passwd=[VIRTWHO_HOST_SSH_PASSWD]

[hypervisor]
;;type should be one of them(esx,xen,hyperv,rhevm,vdsm,libvirt-remote,libvirt-local)
;;server_ssh_user and server_ssh_passwd only for vcenter, rhevm, vdsm
type=[HYPERVISOR_TYPE]
server=[HYPERVISOR_SERVER]
server_username=[HYPERVISOR_SERVER_USERNAME]
server_password=[HYPERVISOR_SERVER_PASSWORD]
server_ssh_user=[HYPERVISOR_SSH_USER]
server_ssh_passwd=[HYPERVISOR_SSH_PASSWD]
guest_ip=[GUEST_IP]
guest_name=[GUEST_NAME]
guest_user=[GUEST_SSH_USER]
guest_passwd=[GUEST_SSH_PASSWD]

[register]
;;type should be one of them(satellite, stage)
;;ssh_user and ssh_passwd only for satellite type
type=[REGISTER_TYPE]
server=[REGISTER_SERVER]
owner=[REGISTER_OWNER]
env=[REGISTER_ENV]
admin_user=[REGISTER_ADMIN_USER]
admin_passwd=[REGISTER_ADMIN_PASSWD]
ssh_user=[REGISTER_SSH_USER]
ssh_passwd=[REGISTER_SSH_PASSWD]

[manifest]
vdc=[SKU_ID]
vdc_bonus=[SKU_ID]
instance=[SKU_ID]
limit=[SKU_ID]
unlimit=[SKU_ID]
