[trigger]
type=trigger-satellite
level=full
;rhel_compose=RHEL-7.6-20181010.0
rhel_compose=RHEL-8.0.0-20190213.0
hypervisor_list=esx,xen,hyperv,rhevm,libvirt-remote,libvirt-local
register_list=satellite63-cdn-rhel7 
rhev_iso=
errata_package= 
virtwho_upstream=
arch_type=

[repo]
rhel=http://download.eng.pek2.redhat.com/pub/rhel/rel-eng
rhel_update=http://download.eng.pek2.redhat.com/rel-eng/updates
rhel_brew=http://download.eng.bos.redhat.com/brewroot/packages
rhel_sat=http://dogfood.sat.engineering.redhat.com/pub/katello-ca-consumer-latest.noarch.rpm
epel=https://dl.fedoraproject.org/pub/epel

[jenkins]
url=https://virtwho-qe-jenkins.rhev-ci-vms.eng.rdu2.redhat.com
username=hsun
password=1638cb39d73ec1d61c700ff9b8f74887

[docker]
server=10.73.131.237
server_user=root
server_passwd=redhat
slave=10.73.131.228
slave_user=root
slave_passwd=redhat
container_user=root
container_passwd=redhat

[beaker]
client=10.73.131.228
client_user=root
client_passwd=redhat
default_user=root
default_passwd=red2015
keytab=/etc/jenkins.keytab-virtwho-qe-jenkins.rhev-ci-vms.eng.rdu2.redhat.com
principal=jenkins/virtwho-qe-jenkins.rhev-ci-vms.eng.rdu2.redhat.com@REDHAT.COM

[polarion]
url=https://polarion.engineering.redhat.com/polarion/import/xunit
username=platformqe_machine
password=polarion

[nfs]
server=10.73.131.85
server_user=root
server_passwd=red2015
rhel_mount=/home/data/nfs/ci/auto/rhel
rhev_mount=/home/data/nfs/ci/auto/rhev
rhel_url=http://10.73.131.85/ci/auto/rhel
rhev_url=http://10.73.131.85/ci/auto/rhev

[register]
serverurl=subscription.rhsm.redhat.com
baseurl=https://cdn.redhat.com
username=QualityAssurance
password=VHVFhPS5TEG8dud9
employee_sku=8a85f98960dbf6510160df23e3367451

[stage]
server=subscription.rhsm.stage.redhat.com
esx_user=vw_vcenter
esx_passwd=redhat
esx_org=11527238
xen_user=vw_xen
xen_passwd=redhat
xen_org=11510080
hyperv_user=vw_hyperv
hyperv_passwd=redhat
hyperv_org=11510081
rhevm_user=vw_rhevm
rhevm_passwd=redhat
rhevm_org=11510082
vdsm_user=vw_vdsm
vdsm_passwd=redhat
vdsm_org=11510083
libvirt_remote_user=vw_libvirt_remote
libvirt_remote_passwd=redhat
libvirt_remote_org=11510084
libvirt_local_user=vw_libvirt_local
libvirt_local_passwd=redhat
libvirt_local_org=11510085

[satellite]
admin_user=admin
admin_passwd=admin
default_org=Default_Organization
default_env=Library
extra_org=Virtwho_Org
rhel6_compose=RHEL-6.10-20180615.0
rhel7_compose=RHEL-7.6-20181010.0
rhel8_compose=RHEL-8.0-20181005.1
manifest=http://10.73.131.85/ci/manifest/satellite_manifest_20190131.zip
activation_key=Virtwho_AK

[vcenter]
ip=10.73.130.254
admin_user=administrator@vsphere.local
admin_passwd=Welcome1!
ssh_user=Administrator
ssh_passwd=Welcome1
master=10.73.131.226
master_user=root
master_passwd=Welcome1!
slave=10.73.131.155
slave_user=root
slave_passwd=Welcome1!
guest_name=7.4_Server_x86_64
guest_user=root
guest_passwd=redhat
image_path=http://10.73.131.85/ci/esx/7.4_Server_x86_64.tar.gz

[xen]
master=10.73.131.247
master_user=root
master_passwd=Welcome1!
guest_name=7.4_Server_x86_64
guest_user=root
guest_passwd=redhat
sr_name=nfs_storage
sr_server=10.73.131.85
sr_path=/home/data/nfs/ci/xen/storage
image_path=http://10.73.131.85/ci/xen/7.4_Server_x86_64.xva

[hyperv]
master=10.73.131.160
master_user=administrator
master_passwd=Welcome1
guest_name=7.4_Server_x86_64
guest_user=root
guest_passwd=redhat
image_path=http://10.73.131.85/ci/hyperv/7.4_Server_x86_64.vhdx

[rhevm]
rhevm_ip=10.73.130.245
rhevm_ssh_user=root
rhevm_ssh_passwd=redhat
rhevm_admin_user=admin@internal
rhevm_admin_passwd=admin
master=10.66.144.13
master_user=root
master_passwd=red2015
slave=10.66.144.14
slave_user=root
slave_passwd=red2015
datacenter=Default
cluster=Default
cputype=Intel Conroe Family
storage=data_storage
guest_name=7.4_Server_x86_64
guest_user=root
guest_passwd=redhat
template=7.4_Server_x86_64_template
disk=7.4_Server_x86_64_Disk1
nfs_path=10.73.131.85:/home/data/nfs/ci/rhevm

[vdsm]
rhevm_ip=10.73.130.251
rhevm_ssh_user=root
rhevm_ssh_passwd=redhat
rhevm_admin_user=admin@internal
rhevm_admin_passwd=admin
master=10.66.144.5
master_user=root
master_passwd=redhat
datacenter=Default
cluster=Default
cputype=Intel Conroe Family
storage=data_storage
guest_name=7.4_Server_x86_64
guest_user=root
guest_passwd=redhat
template=7.4_Server_x86_64_template
disk=7.4_Server_x86_64_Disk1
nfs_path=10.73.131.85:/home/data/nfs/ci/vdsm4

[libvirt]
remote=10.66.144.12
remote_user=root
remote_passwd=redhat
local=10.66.144.3
local_user=root
local_passwd=redhat
guest_name=7.4_Server_x86_64
guest_user=root
guest_passwd=redhat
image_path=/data_storage
xml_path=/etc/libvirt/qemu
image_url=http://10.73.131.85/ci/libvirt/7.4_Server_x86_64.qcow2
xml_url=http://10.73.131.85/ci/libvirt/7.4_Server_x86_64.xml

