[trigger]
;type should be one of them(trigger-rhel,trigger-satellite,trigger-rhev,trigger-multiarch,trigger-zstream,trigger-upstream)
;level should be one of them(tier1,tier2,full)
;rhel_compose should be like RHEL-8.0.0-20190213.0
;hypervisor_list should be one or more of them (esx,xen,hyperv,rhevm,vdsm,libvirt-remote,libvirt-local)
;register_list should be one or more of them("stage,satellite64-cdn-rhel7,satellite65-repo-rhel7")
;rhev_iso only for trigger-rhev
;errata_package only for trigger-zstream
;virtwho_upstream only for trigger-upstream
;arch_type only for trigger-multiarch
type=trigger-satellite
level=full
rhel_compose=RHEL-8.0.0-20190213.0
hypervisor_list=esx,xen,hyperv,rhevm,libvirt-remote,libvirt-local
register_list=stage,satellite63-cdn-rhel7 
rhev_iso=
errata_package= 
virtwho_upstream=
arch_type=

[repo]
rhel=http://download.eng.pek2.redhat.com/pub/rhel/rel-eng
rhel_update=http://download.eng.pek2.redhat.com/rel-eng/updates
rhel_sat=http://dogfood.sat.engineering.redhat.com/pub/katello-ca-consumer-latest.noarch.rpm
epel=https://dl.fedoraproject.org/pub/epel

[jenkins]
url=[JENKINS_URL]
username=[JENKINS_USER]
password=[JENKINS_TOKEN]

[docker]
;docker server is used to create virt-who host images and containers for testing
;docker slave is used to create jenkins slave
server=[DOCKER_SERVER]
server_user=[DOCKER_SERVER_USER]
server_passwd=[DOCKER_SERVER_PASSWD]
slave=[DOCKER_SLAVE]
slave_user=[DOCKER_SLAVE_USER]
slave_passwd=[DOCKER_SLAVE_PASSWD]
container_user=[DEFAULT_CONTAINER_USER]
container_passwd=[DEFAULT_CONTAINER_USER]

[beaker]
;use bkr command to provision some machines in beaker system
client=[BKR_CLIENT_IP]
client_user=[BKR_CLIENT_USER]
client_passwd=[BKR_CLIENT_PASSWD]
default_user=[BKR_DEFAULT_USER]
default_passwd=[BKR_DEFAULT_PASSWD]
keytab=[BKR_KEYTAB]
principal=[BKR_PRINCIPAL]

[polarion]
;used to import xml test result to polarion
url=[POLARION_XUNIT_URL]
username=[POLARION_XUNIT_USER]
password=[POLARION_XUNIT_PASSWD]

[nfs]
;use nfs to save the guest images for vcente/rhevm/xen/hyperv/libvirt
server=[NFS_SERVER]
server_user=[NFS_SERVER_SSH_USER]
server_passwd=[NFS_SERVER_SSH_PASSWD]
rhel_mount=[RHEL_MOUNT_DIR]
rhev_mount=[RHEV_MOUNT_DIR]
rhel_url=[RHEL_KS_HTTP]
rhev_url=[RHEV_KS_HTTP]

[register]
;used to install the required packages 
serverurl=subscription.rhsm.redhat.com
baseurl=https://cdn.redhat.com
username=[USERNAME]
password=[PASSWORD]
employee_sku=[EMPLOYEER_POOL_ID]

[stage]
;different hypervisor type has different stage account
;because we need to run all the hypervisor types at the same time
server=subscription.rhsm.stage.redhat.com
esx_user=
esx_passwd=
esx_org=
xen_user=
xen_passwd=
xen_org=
hyperv_user=
hyperv_passwd=
hyperv_org=
rhevm_user=
rhevm_passwd=
rhevm_org=
vdsm_user=
vdsm_passwd=
vdsm_org=
libvirt_remote_user=
libvirt_remote_passwd=
libvirt_remote_org=
libvirt_local_user=
libvirt_local_passwd=
libvirt_local_org=

[satellite]
;used to deploy satellite
admin_user=
admin_passwd=
default_org=Default_Organization
default_env=Library
extra_org=Virtwho_Org
rhel6_compose=RHEL-6.10-20180615.0
rhel7_compose=RHEL-7.6-20181010.0
rhel8_compose=RHEL-8.0-20181005.1
manifest=[MANIFEST_URL]
activation_key=Virtwho_AK

[vcenter]
;used to provision vcenter and guest
ip=[VCENTER_IP]
admin_user=
admin_passwd=
ssh_user=
ssh_passwd=
master=
master_user=
master_passwd=
slave=
slave_user=
slave_passwd=
guest_name=
guest_user=
guest_passwd=
image_path=[GUEST_IMAGE_URL]

[xen]
;used to provision vcenter and guest
master=
master_user=
master_passwd=
guest_name=
guest_user=
guest_passwd=
sr_name=
sr_server=
sr_path=
image_path=[GUEST_IMAGE_URL]

[hyperv]
;used to provision hyperv and guest
master=
master_user=
master_passwd=
guest_name=
guest_user=
guest_passwd=
image_path=[GUEST_IMAGE_URL]

[rhevm]
;used to provision rhevm and guest
rhevm_ip=
rhevm_ssh_user=
rhevm_ssh_passwd=
rhevm_admin_user=
rhevm_admin_passwd=
master=
master_user=
master_passwd=
slave=
slave_user=
slave_passwd=
datacenter=
cluster=Default
cputype=Intel Conroe Family
storage=
guest_name=
guest_user=
guest_passwd=
template=
disk=
nfs_path=[RHEVM_NFS_PATH]

[vdsm]
;used to provision rhevm and guest for vdsm mode testin
rhevm_ip=
rhevm_ssh_user=
rhevm_ssh_passwd=
rhevm_admin_user=
rhevm_admin_passwd=
master=
master_user=
master_passwd=
datacenter=Default
cluster=Default
cputype=Intel Conroe Family
storage=
guest_name=
guest_user=
guest_passwd=
template=
disk=
nfs_path=[RHEVM_NFS_PATH]

[libvirt]
;used to provision libvirt remote and local env
remote=
remote_user=
remote_passwd=
local=
local_user=
local_passwd=
guest_name=
guest_user=
guest_passwd=
image_path=
xml_path=/etc/libvirt/qemu
image_url=[GUEST_IMAGE_URL]
xml_url=[GUEST_XML_URL]
